/* common css start */
* {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.commonButton {
    text-decoration: none;
    color: #000;
    background-color: #16BAC5;
    padding: 20px 60px;
    border-radius: 50px;
    font-weight: 900;
    display: inline-block;
    transition: all .5s ease;
}

.commonButton:hover {
    transform: scale(.9);
}

p {
    color: #828282;
}

/* common css end */


/* diet section start */
.dietDetails {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.dietTitle h1 {
    font-size: 50px;
}

.dietTitle span {
    color: #16BAC5;
    text-decoration: underline;
}

.skipStyle {
    transition: all .5s ease;
    display: inline-block;
}

.dietDetails:hover .skipStyle {
    color: #16b9c5da;
    transform: scale(1.07);
}

.dietTitle p {
    color: #828282;
    width: 320px;
    margin: 30px 0;
}

.dietImg {
    text-align: center;
}

.dietImg img {
    width: 80%;
    border-radius: 20px;
}

/* diet section end */



/* about me section start */
.aboutDetails {
    display: grid;
    align-items: center;
    background-color: #16b9c51d;
    margin: 100px 0;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    background-image: url(images/shapes/Frame\ 57.jpg);
}

.aboutImg img {
    width: 320px;
}


.aboutTitle h1 {
    font-size: 60px;
    letter-spacing: 2px;
}

.aboutTitle p {
    color: #828282;
    margin: 40px 0 30px 0;
}

/* about me section end */


/* my recipes section start */
.myRecipes {
    margin-bottom: 100px;
}

.myRecipesTitle {
    text-align: center;
    margin-bottom: 50px;
}


.myRecipesTitle h1 {
    font-size: 60px;
    letter-spacing: 1.2px;
}

.myRecipesTitle p {
    width: 60%;
    display: inline-block;
    margin-top: 10px;
}

.recipesDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}


.recipesItems {
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 40px rgb(0, 0, 0, 0.15);
    padding: 20px;
    width: 70%;
}

.recipesImg {
    overflow: hidden;
    border-radius: 20px;
}

.recipesImg img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: all 1s ease;
}

.recipesItems:hover img {
    transform: scale(1.2);
}


.recipesItem h3 {
    margin: 30px 0 10px 0;
    font-size: 24px;
}

.recipesItem p {
    letter-spacing: 1.2px;
}

/* my recipes section end */